---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('power_rankings');
---

<Layout title="Power Rankings">
  <h1>Power Rankings</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/power-rankings/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>
