---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const powerRankings = await getCollection('power_rankings');

  return powerRankings.map((post) => ({
    params: { slug: post.slug },
    props: { slug: post.slug }, // only pass slug
  }));
}

const { slug } = Astro.props;
---

<Layout>
  <article class="prose prose-invert">
    <h1>{slug}</h1>
    <p>Content rendering here...</p>
  </article>
</Layout>
