---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">THE Fantasy Football League of Jenkintown</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <aThe origins of this dynasty league are grounded deep within Table 13 mythology. Fantasy football was a fun activity for the Framers, yet there lacked a sense of consistency, of meaning, of passion to the game. Strong, emotional bonds with certain players could be severed as soon as the season was over. The Framers desired a league where smart management and ownership mattered more than the whims of a snake draft. Where the unpredictable nature of fantasy football could be mediated by a wise GM. This league’s inception represented a turning point in Table 13 history, brewing fierce rivalries, sparking vehement discussion, and transcending fantasy football into a lifestyle rather than a child’s game. The dynasty league is to the members as the sun is to the planets - every fall, life revolves around the success and failures of one’s team, reinforcing the integration of the league into the very lives of its members. Heroes get remembered, but legends become legends when they die, and this league will never die.</a>
    </p>
</Layout>
