---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
The origins of this dynasty league are grounded deep within Table 13 mythology. Fantasy football was a fun activity for the Framers, yet there lacked a sense of consistency, of meaning, of passion to the game. Strong, emotional bonds with certain players could be severed as soon as the season was over. The Framers desired a league where smart management and ownership mattered more than the whims of a snake draft. Where the unpredictable nature of fantasy football could be mediated by a wise GM. This league’s inception represented a turning point in Table 13 history, brewing fierce rivalries, sparking vehement discussion, and transcending fantasy football into a lifestyle rather than a child’s game. The dynasty league is to the members as the sun is to the planets - every fall, life revolves around the success and failures of one’s team, reinforcing the integration of the league into the very lives of its members. Heroes get remembered, but legends become legends when they die, and this league will never die.`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">THE Fantasy Football League of Jenkintown</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
