{% extends '_default/page.html.twig' %}

{% block head %}
{{ parent() }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C4NCZ7X3VK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C4NCZ7X3VK');
    </script>
    <!-- Netlify Identity -->
    <script src="https://identity.netlify.com/{{ site.netlify.identity.version|default('v1') }}/netlify-identity-widget.js"></script>
    {% apply minify_js %}<script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', user => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = "/{{ site.netlify.cms.path|default('admin') }}/";
            });
          }
        });
      }
    </script>{% endapply %}

{% if page.forestry_instant_preview_id is defined %}
    <!-- Forestry.io Instant Preview -->
    <meta property="forestry:preview:id" content="{{ page.forestry_instant_preview_id }}">
{% endif %}

{% endblock head %}

{% block footer %}

<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 2406; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: false,
        id: false
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>

{% endblock footer %}
